* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bj.jpg);
    background-size: cover;
    background-position: center;
}

.login-form {
    background: rgba(red, green, blue, alpha);
    border: 3px solid rgba(red, green, blue, alpha)
}